body
{
	background-color: darkred;
	font-family: 'Oswald', sans-serif;
}
#inner_ring
{position: relative;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    top: 10%;
    left:10%;
    background-color: #ffffcc;
    
    
}
	


#dartboard
{
    height: 600px;
    width: 600px;
    position: absolute;
            top:0px;
}
#scoreContainer
{	
	position: relative;
		height: 6em;
	width: 4em;
	float: right;
	text-align: center;
	background-color: black;
	font-size: 2em;
	border-radius: 1em;
	border-color: black;
	border-style: groove;
	color:azure;
	top: 0em;
	right: 0.5em;
}
#score
{ 	min-height: 6em;
	position: absolute;
	top: 1em;
	text-align: center;
	width: inherit;
}
#resetButtonContainer
{ position: absolute;
	float: right;
	top: 12.5em;
	width: 8em;
	height: 4em;
	right: 1em;
}
#resetButton
{	background-color: black;
	color:azure;
	font-size: 2.0em;
	height: 1em;
	width: 100%;
	border-radius: 1em;
	padding-top:  0.5em;
	padding-bottom: 0.5em;
	text-align: center;
}

.red
{
	background-color: darkred;
}