#dartboard_back
{ position: absolute;
	background-color: black;
	height: 600px;
	width: 600px;
    border-radius: 300px;
}

#inner_ring
{position: relative;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    top: 10%;
    left:10%;
    background-color: #ffffcc;
    
    
}



	
}

#dartboard
{
    height: 600px;
    width: 600px;
    position: absolute;
            top:0px;
}
#score
{ 	top: 1em;
	float: right;
	color:azure;
	text-align: center;
	background-color: black;
	font-size: 2em;
	height: 6em;
	width: 4em;
	border-radius: 1em;
	border-color: black;
	border-style: groove;
padding-top: 1em;
}

body
{
	background-color: darkred;
	font-family: 'Oswald', sans-serif;
}
